/*.nav-link1{
    margin-left: 660px;
    margin-right: 35px;
    font-size: 1.5rem;
}*/
.mr-auto
{
	margin-left:626px;
}
.font-italic1
{
    text-shadow:3px 1px #decc0a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}